In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib 
matplotlib.rcParams["figure.figsize"] = (20,10)

In [3]:
df1 = pd.read_csv("D:\Code-Python\Dataset\Mumbai1.csv")
df1.head()

,Unnamed: 0,Price,Area,Location,No. of Bedrooms,New/Resale,Gymnasium,Lift Available,Car Parking,Maintenance Staff,24x7 Security,Children's Play Area,Clubhouse,Intercom,Landscaped Gardens,Indoor Games,Gas Connection,Jogging Track,Swimming Pool
0,0,4850000,720,Kharghar,1,0,0,1,1,1,1,0,0,0,0,0,0,0,0
1,1,4500000,600,Kharghar,1,0,1,1,1,1,1,0,1,0,0,0,0,1,1
2,2,6700000,650,Kharghar,1,0,1,1,1,1,1,1,1,1,0,0,0,1,1
3,3,4500000,650,Kharghar,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0
4,4,5000000,665,Kharghar,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0

In [4]:
df1.shape

(6347, 19)

In [5]:
df1.columns

Index(['Unnamed: 0', 'Price', 'Area', 'Location', 'No. of Bedrooms',
       'New/Resale', 'Gymnasium', 'Lift Available', 'Car Parking',
       'Maintenance Staff', '24x7 Security', 'Children's Play Area',
       'Clubhouse', 'Intercom', 'Landscaped Gardens', 'Indoor Games',
       'Gas Connection', 'Jogging Track', 'Swimming Pool'],
      dtype='object')

In [6]:
df1['Location'].value_counts()

Kharghar             533
Thane West           418
Mira Road East       390
Ulwe                 319
Borivali West        176
                    ...
worli sea face         1
Sea Face               1
Shiv Sagar Estate      1
Natakwala Lane         1
Padle Gaon             1
Name: Location, Length: 413, dtype: int64

In [7]:
df1.isnull().sum()

Unnamed: 0              0
Price                   0
Area                    0
Location                0
No. of Bedrooms         0
New/Resale              0
Gymnasium               0
Lift Available          0
Car Parking             0
Maintenance Staff       0
24x7 Security           0
Children's Play Area    0
Clubhouse               0
Intercom                0
Landscaped Gardens      0
Indoor Games            0
Gas Connection          0
Jogging Track           0
Swimming Pool           0
dtype: int64

In [8]:
len(df1['Location'].unique())

413

In [9]:
df2=df1.copy()

In [10]:
df2['price_per_sqft'] = df2['Price']/df2['Area']
df2

,Unnamed: 0,Price,Area,Location,No. of Bedrooms,New/Resale,Gymnasium,Lift Available,Car Parking,Maintenance Staff,24x7 Security,Children's Play Area,Clubhouse,Intercom,Landscaped Gardens,Indoor Games,Gas Connection,Jogging Track,Swimming Pool,price_per_sqft
0,0,4850000,720,Kharghar,1,0,0,1,1,1,1,0,0,0,0,0,0,0,0,6736.111111
1,1,4500000,600,Kharghar,1,0,1,1,1,1,1,0,1,0,0,0,0,1,1,7500.000000
2,2,6700000,650,Kharghar,1,0,1,1,1,1,1,1,1,1,0,0,0,1,1,10307.692308
3,3,4500000,650,Kharghar,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0,6923.076923
4,4,5000000,665,Kharghar,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0,7518.796992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6342,6342,2485000,700,Shirgaon,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,3550.000000
6343,6343,14500000,900,Thane West,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,16111.111111
6344,6344,14500000,900,Thane West,2,0,0,1,0,0,0,0,0,1,0,0,1,0,0,16111.111111
6345,6345,4100000,1380,Boisar,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2971.014493
6346,6346,2750000,700,Badlapur East,1,1,1,1,1,0,1,1,1,0,1,1,0,1,1,3928.571429

In [11]:
df2.Location = df2.Location.apply(lambda x:x.strip())

In [12]:
stats=df2['Location'].value_counts()
stats

Kharghar             533
Thane West           418
Mira Road East       390
Ulwe                 319
Borivali West        176
                    ...
worli sea face         1
Sea Face               1
Shiv Sagar Estate      1
Natakwala Lane         1
Padle Gaon             1
Name: Location, Length: 413, dtype: int64

In [13]:
s=stats[stats<=3]
s

Anjurdive            3
Sector 15            3
Sector 23 Ulwe       3
Beturkar Pada        3
Kalyan               3
                    ..
worli sea face       1
Sea Face             1
Shiv Sagar Estate    1
Natakwala Lane       1
Padle Gaon           1
Name: Location, Length: 246, dtype: int64

In [14]:
df2.Location = df2.Location.apply(lambda x: 'Other' if x in s else x)

In [15]:
df2.Location

0            Kharghar
1            Kharghar
2            Kharghar
3            Kharghar
4            Kharghar
            ...
6342         Shirgaon
6343       Thane West
6344       Thane West
6345           Boisar
6346    Badlapur East
Name: Location, Length: 6347, dtype: object

In [16]:
len(df2.Location.unique())

168

In [17]:
df2[df2.Price/df2.Area<2500]

,Unnamed: 0,Price,Area,Location,No. of Bedrooms,New/Resale,Gymnasium,Lift Available,Car Parking,Maintenance Staff,24x7 Security,Children's Play Area,Clubhouse,Intercom,Landscaped Gardens,Indoor Games,Gas Connection,Jogging Track,Swimming Pool,price_per_sqft
1126,1126,2050000,1000,Other,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2050.000000
1181,1181,6000000,2700,mumbai,4,0,1,1,1,1,1,0,0,0,0,0,0,0,0,2222.222222
3146,3146,2099000,882,Other,1,0,1,1,0,0,0,1,1,1,0,0,0,0,1,2379.818594
3477,3477,2000000,1252,Naigaon East,1,0,1,1,0,0,1,1,1,1,1,0,0,1,0,1597.444089
6193,6193,2000000,820,Boisar,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2439.024390

In [18]:
df2.price_per_sqft.describe()

count      6347.000000
mean      13555.465839
std        9573.921483
min        1597.444089
25%        7234.042553
50%       10493.827160
75%       17142.857143
max      109950.522265
Name: price_per_sqft, dtype: float64

In [19]:
df2.shape

(6347, 20)

In [20]:
df3=df2.copy()

In [21]:
def remove_pps_outliers(df):
    df_out = pd.DataFrame()
    for key, subdf in df.groupby('Location'):
        m = np.mean(subdf.price_per_sqft)
        st = np.std(subdf.price_per_sqft)
        reduced_df = subdf[(subdf.price_per_sqft>(m-st)) & (subdf.price_per_sqft<=(m+st))]
        df_out = pd.concat([df_out,reduced_df],ignore_index=True)
    return df_out
df3 = remove_pps_outliers(df2)
df3.shape

(4832, 20)

In [24]:
df4 = df3.drop(['price_per_sqft'],axis='columns')
df4

,Unnamed: 0,Price,Area,Location,No. of Bedrooms,New/Resale,Gymnasium,Lift Available,Car Parking,Maintenance Staff,24x7 Security,Children's Play Area,Clubhouse,Intercom,Landscaped Gardens,Indoor Games,Gas Connection,Jogging Track,Swimming Pool
0,964,6200000,400,Airoli,1,0,0,1,1,1,1,0,0,0,0,0,0,0,0
1,965,9500000,1000,Airoli,2,0,0,1,1,1,1,0,1,0,0,0,0,0,1
2,1145,14900000,1245,Airoli,2,1,0,1,1,0,0,0,0,0,0,0,1,0,0
3,1146,14000000,1183,Airoli,2,1,1,1,1,0,1,1,1,1,1,1,0,1,1
4,1884,14800000,1245,Airoli,2,0,0,1,1,1,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4827,1664,11500000,1065,vasant vihar thane west,2,0,0,1,1,1,1,0,0,0,0,0,0,0,0
4828,3997,47500000,1509,vile parle west,3,1,0,1,0,0,0,0,0,0,0,0,1,0,0
4829,3998,33500000,1073,vile parle west,2,1,0,1,0,0,0,0,0,0,0,0,1,0,0
4830,4378,58000000,1735,vile parle west,3,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4831,5913,27500000,840,vile parle west,2,0,0,1,0,0,0,0,0,0,0,0,1,0,0

In [26]:
dummies = pd.get_dummies(df4.Location)
dummies.head(3)

,Airoli,Ambarnath,Ambernath East,Ambernath West,Andheri,Andheri East,Andheri West,Antop Hill,Badlapur,Badlapur East,...,Wadala East Wadala,Worli,kandivali,kavesar,kolshet,matunga east,mumbai,taloja panchanand,vasant vihar thane west,vile parle west
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
df5=pd.concat([df4,dummies.drop('vile parle west',axis='columns')],axis='columns')
df5.head(3)

,Unnamed: 0,Price,Area,Location,No. of Bedrooms,New/Resale,Gymnasium,Lift Available,Car Parking,Maintenance Staff,...,Wadala East,Wadala East Wadala,Worli,kandivali,kavesar,kolshet,matunga east,mumbai,taloja panchanand,vasant vihar thane west
0,964,6200000,400,Airoli,1,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,965,9500000,1000,Airoli,2,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,1145,14900000,1245,Airoli,2,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
df6=df5.drop('Location',axis='columns')
df6.shape

(4832, 185)

In [33]:
X = df6.drop('Price',axis='columns')
X.head()

,Unnamed: 0,Area,No. of Bedrooms,New/Resale,Gymnasium,Lift Available,Car Parking,Maintenance Staff,24x7 Security,Children's Play Area,...,Wadala East,Wadala East Wadala,Worli,kandivali,kavesar,kolshet,matunga east,mumbai,taloja panchanand,vasant vihar thane west
0,964,400,1,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,965,1000,2,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,1145,1245,2,1,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1146,1183,2,1,1,1,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,1884,1245,2,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
y=df6.Price
y.head()

0     6200000
1     9500000
2    14900000
3    14000000
4    14800000
Name: Price, dtype: int64

In [36]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [38]:
from sklearn.linear_model import LinearRegression
lr_clf=LinearRegression()
lr_clf.fit(X_train,y_train)
lr_clf.score(X_test,y_test)

0.8498588765819313

In [39]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)

cross_val_score(LinearRegression(), X, y, cv=cv)

array([ 8.63242427e-01,  8.49051852e-01,  8.56818621e-01, -4.47861411e+14,
        8.72996419e-01])

In [40]:
from sklearn.model_selection import GridSearchCV

from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor

def find_best_model_using_gridsearchcv(X,y):
    algos = {
        'linear_regression' : {
            'model': LinearRegression(),
            'params': {
                'normalize': [True, False]
            }
        },
        'lasso': {
            'model': Lasso(),
            'params': {
                'alpha': [1,2],
                'selection': ['random', 'cyclic']
            }
        },
        'decision_tree': {
            'model': DecisionTreeRegressor(),
            'params': {
                'criterion' : ['mse','friedman_mse'],
                'splitter': ['best','random']
            }
        }
    }
    scores = []
    cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
    for algo_name, config in algos.items():
        gs =  GridSearchCV(config['model'], config['params'], cv=cv, return_train_score=False)
        gs.fit(X,y)
        scores.append({
            'model': algo_name,
            'best_score': gs.best_score_,
            'best_params': gs.best_params_
        })

    return pd.DataFrame(scores,columns=['model','best_score','best_params'])

find_best_model_using_gridsearchcv(X,y)

C:\Users\ACER\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 5.159965049883738e+16, tolerance: 87153585353318.42
  model = cd_fast.enet_coordinate_descent(
C:\Users\ACER\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 4.944039984279673e+16, tolerance: 86368445813660.58
  model = cd_fast.enet_coordinate_descent(
C:\Users\ACER\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 4.977689879389121e+16, tolerance: 84439267461709.42
  model = cd_fast.enet_coordinate_descent(
C:\Users\ACER\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 5.274264664078367e+16, tolerance: 88933514198578.22
  model = cd_fast.enet_coordinate_descent(
C:\Users\ACER\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 5.325428744758667e+16, tolerance: 86689909614367.48
  model = cd_fast.enet_coordinate_descent(
C:\Users\ACER\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 5.1489358358556776e+16, tolerance: 87153585353318.42
  model = cd_fast.enet_coordinate_descent(
C:\Users\ACER\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 4.931742297034253e+16, tolerance: 86368445813660.58
  model = cd_fast.enet_coordinate_descent(
C:\Users\ACER\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 4.960196219810931e+16, tolerance: 84439267461709.42
  model = cd_fast.enet_coordinate_descent(
C:\Users\ACER\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 5.2610071997810296e+16, tolerance: 88933514198578.22
  model = cd_fast.enet_coordinate_descent(
C:\Users\ACER\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 5.309342821112313e+16, tolerance: 86689909614367.48
  model = cd_fast.enet_coordinate_descent(
C:\Users\ACER\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 5.163976413830302e+16, tolerance: 87153585353318.42
  model = cd_fast.enet_coordinate_descent(
C:\Users\ACER\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 4.945646337865243e+16, tolerance: 86368445813660.58
  model = cd_fast.enet_coordinate_descent(
C:\Users\ACER\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 4.975732727374177e+16, tolerance: 84439267461709.42
  model = cd_fast.enet_coordinate_descent(
C:\Users\ACER\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 5.272481089587522e+16, tolerance: 88933514198578.22
  model = cd_fast.enet_coordinate_descent(
C:\Users\ACER\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 5.3232103479564e+16, tolerance: 86689909614367.48
  model = cd_fast.enet_coordinate_descent(
C:\Users\ACER\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 5.1495547542935736e+16, tolerance: 87153585353318.42
  model = cd_fast.enet_coordinate_descent(
C:\Users\ACER\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 4.9323997607260904e+16, tolerance: 86368445813660.58
  model = cd_fast.enet_coordinate_descent(
C:\Users\ACER\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 4.9605759580444504e+16, tolerance: 84439267461709.42
  model = cd_fast.enet_coordinate_descent(
C:\Users\ACER\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 5.261674033002242e+16, tolerance: 88933514198578.22
  model = cd_fast.enet_coordinate_descent(
C:\Users\ACER\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 5.30916802047318e+16, tolerance: 86689909614367.48
  model = cd_fast.enet_coordinate_descent(
C:\Users\ACER\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 6.460002449799268e+16, tolerance: 107669907595309.3
  model = cd_fast.enet_coordinate_descent(

               model    best_score                                 best_params
0  linear_regression -8.957228e+13                        {'normalize': False}
1              lasso  8.633890e-01         {'alpha': 1, 'selection': 'random'}
2      decision_tree  7.433723e-01  {'criterion': 'mse', 'splitter': 'random'}

In [41]:
import pickle
with open('mumbai_home_prices_model.pickle','wb') as f:
    pickle.dump(lr_clf,f)

In [ ]:
import json
columns = {
    'data_columns' : [col.lower() for col in X.columns]
}
with open("columns.json","w") as f:
    f.write(json.dumps(columns))